.button {
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    padding: 12px 14px;
    border-radius: 25px;
    &--primary {
        color: #fff;
        background-color: var(--color-primary);
    }
}