.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.active-modal {
	transform: scale(.7);
	transition: all .3s ease;
}

.no-scroll {
	overflow-y: hidden;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.flex-center {
	justify-content: center;
}

.is-tooltip {
	position: relative;
}

.is-tooltip::after {
	content: attr(data-tooltip);
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, .8);
	-webkit-backdrop-filter: blur(2px);
	-moz-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	color: #fff;
	padding: 3px;
	font-size: 12px;
	border-radius: 4px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.is-tooltip.active::after {
	opacity: 1;
	visibility: visible;
}