.single-article {
    width: 100%;
    padding-block: var(--section-offset);
    &__container {
        max-width: 1140px;
    }

    // .single-article__wrapper

    &__wrapper {
        width: 100%;
        & > *:not(:last-child) {
            margin-block-end: 32px;
        }
    }

    // .single-article__head

    &__head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    // .single-article__head-subtitle

    &__head-subtitle {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    // .single-article__head-title

    &__head-title {
        font-size: clamp(1.75rem, 0.486rem + 3.61vw, 3.375rem);
        line-height: 1.15;
        font-weight: 800;
        text-align: center;
        color: var(--color-text);
    }

    // .single-article__banner

    &__banner {
        width: 100%;
        height: 520px;
        @include mobile {
            height: 320px;
        }
    }

    // .single-article__banner-img

    &__banner-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        border-radius: var(--rounded-lg);
        background-color: var(--color-ghost);
    }

    // .single-article__content

    &__content {
        width: 100%;
        &:has(p) {
            font-size: 18px;
            text-align: left;
            font-weight: 600;
            color: var(--color-text);
        }
    }
}
