<footer class="website__footer footer" id="footer">
	<div class="container footer__container">
		<div class="footer__rowContent">
			<div class="footer__rowTop">
				<div class="footer__col footer__col--left">
					<div class="footer__logo logo">
						<a href="#!" title="На главную" class="logo__link">
							<img width="90" height="90" src="./img/logo.svg" alt="" class="logo__brand">
						</a>
					</div>
				</div>
				<div class="footer__col footer__col--center">
					<nav aria-label="Навигация по сайту" class="footer__navbar">
						<div class="footer__navbar-title">Навигация</div>
						<menu class="footer__navbar-menu">
							<li class="footer__navbar-item">
								<a aria-label="Перейти на страницу" href="#!" class="footer__navbar-link">Главная</a>
							</li>
							<li class="footer__navbar-item">
								<a aria-label="Перейти на страницу" href="#!" class="footer__navbar-link">О нас</a>
							</li>
							<li class="footer__navbar-item">
								<a aria-label="Перейти на страницу" href="#!" class="footer__navbar-link">Питомцы</a>
							</li>
							<li class="footer__navbar-item">
								<a aria-label="Перейти на страницу" href="#!" class="footer__navbar-link">Реквизиты</a>
							</li>
							<li class="footer__navbar-item">
								<a aria-label="Перейти на страницу" href="#!" class="footer__navbar-link">Отчеты</a>
							</li>
							<li class="footer__navbar-item">
								<a aria-label="Перейти на страницу" href="#!" class="footer__navbar-link">Справочник</a>
							</li>
							<li class="footer__navbar-item">
								<a aria-label="Перейти на страницу" href="#!" class="footer__navbar-link">Новости</a>
							</li>
							<li class="footer__navbar-item">
								<a aria-label="Перейти на страницу" href="#!" class="footer__navbar-link">Контакты</a>
							</li>
						</menu>
					</nav>
				</div>
				<div class="footer__col footer__col--right">
					<div class="footer__messanger">
						<h3 class="footer__messanger-title">Мы в мессенджере</h3>
						<ul class="footer__messanger-list">
							<li class="footer__messanger-item">
								<a aria-label="Перейти в мессенджер" title="whatsapp" href="#!" target="_blank" class="footer__messanger-link">
									<img loading="lazy" src="./img/tg.jpg" alt="Логотип whatsapp" class="footer__messanger-logo">
								</a>
							</li>
							<li class="footer__messanger-item">
								<a aria-label="Перейти в мессенджер" title="whatsapp" href="#!" target="_blank" class="footer__messanger-link">
									<img loading="lazy" src="./img/tg.jpg" alt="Логотип whatsapp" class="footer__messanger-logo">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__rowBottom">
				<div class="footer__copyright">
					&copy; Дай лапу! 2024
				</div>
				<a href="#!" aria-label="Ссылка на разработчика" target="_blank" class="footer__development-link">Дизайн и разработка сайта</a>
			</div>
		</div>
	</div>
</footer>